.document_record-stage {
    .card-links {
        .nhsuk-card__content {
            padding: 15px 25px 20px 25px;
            min-height: 105px;

            .nhsuk-card__heading {
                margin: 0;
            }

            .nhsuk-card__description {
                margin: 0;
            }

            .nhsuk-card__link {
                font-size: 19px;
            }
        }
    }

    #pdf-viewer {
        height: 90vh;
    }
}
