.document-search-results {
    .subtitle {
        margin-bottom: 1rem;
    }

    #table-panel {
        padding-top: 1rem !important;
        margin-top: 0;

        .table-column-header,
        .nhsuk-table-responsive__heading {
            word-break: keep-all;
        }

        .filename-value {
            word-break: break-word;
        }
    }
}
